.benefit {
    text-align: center;

}
.benefit__image-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 128px;
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}
.benefit__icon {
max-width: 100%;
max-height: 100%;
}
.benefit__title {
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: #292929;
    margin-bottom: 20px;
}
.benefit__text {
font-weight: 300;
line-height: 22px;
}